* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'MuseoModerno', cursive;
}

.black {
    background: black;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #282C34;
}

/* the first head block */

.ul-link-frst {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont-input {
    display: flex;
    justify-content: space-around;
    margin: 0 0 30px 0;
}

#input-text {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.a-link {
    text-decoration: none;
    color: whitesmoke;
}

.li-link {
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px;
    padding: 5px;
    transition: all 0.6s easy;
}

.li-link:hover {
    border: 0px black solid;
    border-radius: 15px;
    background: #737578;
}

/* logo position */

#logo-head {
    margin: 18px 0 0 0;
}

/* the second head block */

.ul-link-scnd {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont-btn {
    display: flex;
    justify-content: space-around;
    margin: 0 0 30px 0;
}

#theme-btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: white;
    text-transform: capitalize;
    padding: 5px;
}

#theme-btn:hover {
    background: black;
    color: white;
}

/* body */

.container {
    display: flex;
    justify-content: center;
}

.relative-cont {
    margin: 120px 0;
}

/* logo body */

.logo-cont {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#body-logo {
    color: black;
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
}

/* text to logo */

.text-cont {
    display: block;
    margin: 0 0 30px 0;
}

#body-text {
   
}

.t1 {
    margin: 0 60px;
}

.t2 {
    margin: 0 100px;
}

.t3 {
    margin: 0 120px;
}
/* modal buttons */

.modals-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.modal-btn {
    cursor: pointer;
    border: none;
    background-color: #7D3BBC;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}

.modal-btn:hover {
    background: #BA87F3;
}

@media screen and (max-width: 450px) {
    .logo-cont #body-logo {
        font-size: 60px;
    }

    #body-text {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .logo-cont #body-logo {
        font-size: 50px;
    }
}

@media screen and (max-width: 310px) {
    .logo-cont #body-logo {
        font-size: 40px;
    }

    .modal-btn {
        width: 90px;
        height: 40px;
        font-size: 15px;
    }
}

/* modal windows */

/* first modal window */
.modal-window {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.modal-content {
    background: #fff;
    color: #000;
    max-width: 1000px;
    padding: 20px;
    position: relative;
}

.modal-btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.modal-title {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.modal-text {
    font-size: 20px;
}

/* modal window two */

.modal-window-two {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-body-two {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.modal-content-two {
    background: #fff;
    color: #000;
    max-width: 1000px;
    padding: 20px;
    position: relative;
}

.modal-btn-close-two {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.modal-title-two {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.modal-text-two {
    font-size: 20px;
}

/* footer */


footer {
    background: #000;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* first block */

.first-block {
    margin: 30px 0;
    padding: 10px;
}

.tabs {
    cursor: pointer;
    margin: 0 0 5px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #fff;
}

.tabs:hover {
    background: rgb(134, 131, 131);
}

.a-tabs {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}

/* second block */

.second-block {
    background: #fff;
    padding: 10px;
}

@media screen and (max-width: 582px) {
    .second-block {
        width: 500px;
    }
} 

@media screen and (max-width: 544px) {
    .second-block {
        width: 450px;
    }
} 

/* third block */

.third-block {
    padding: 10px;
}

.vk {
    background: rgb(21, 0, 112);
}

.inst {
    background: rgb(255, 0, 0);
}

.git {
    background: rgb(251, 255, 0);
}

.a-git {
    color: #000;
}

.links {
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 5px 0;
}

.a-link {
    text-transform: lowercase;
    text-decoration: none;
}